body{
    font-family: Arial, sans-serif;
    background:#111827;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    text-align:center;
}

input{
    padding:10px;
    width:250px;
    margin:10px;
}

button{
    padding:10px 20px;
    margin:10px;
    cursor:pointer;
}